.track-page .track {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

.track-page .track-image {
    width: 176px;
    height: 176px;
    object-fit: cover;
}

.track-page .track-info {
    text-align: center;
    font-weight: 600;
    color: #fff;
}

.track-page .track-title {
    font-size: 30px;
}

.track-page .artist-name {
    font-size: 22px;
}