@import "styleguide.css";

.frame{
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    height: auto;
    padding: 10px;
    width: 30vw;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.3) inset, 4px 4px 4px rgba(0,0,0,0.3);
    justify-content: space-between;
    align-items: center;
}

.frame .column{
    flex: max-content;
}

.frame img{
    width: auto;
    height: 25px;
}

.frame p{
    margin: 5px;
}

.frame .header{
    font-size: 24pt;
    font-weight: normal;
    padding: 0 10px;
}

.frame .subheader{
    font-weight: lighter;
    font-size: 10pt;
    opacity: 70%;
    padding: 0 10px;
}

.frame .frame-content{
    padding: 0 10px;
    row-gap: 10px;
}
