.text-input{
    color: white;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
}

.text-input .name{
    margin-bottom: 10px;
    font-size: 22px;
}

.text-input input{
    all: unset;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 10px 15px;
    border-radius: 10px 10px 0 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
}
