@import "../styleguide.css";

.action-bar.statistics{
    background-image: linear-gradient(180deg, rgba(104, 36, 229, 0.2)  0%, rgba(104, 36, 229, 0.07) var(--collection-1-actionbar-height)),
    radial-gradient(50% 100% at 0 100px,  rgba(237, 107, 37, 0.15) 8%, rgba(237, 107, 37, 0) 100%),
    radial-gradient(80% 130% at 100% 0, rgb(21, 21, 21) 0%, rgb(5, 20, 10) 100%);
    background-attachment: fixed;
}

.statistics-page{
    background-image: radial-gradient(50% 100% at 0 100px,  rgba(237, 107, 37, 0.15) 8%, rgba(237, 107, 37, 0) 100%),
        radial-gradient(80% 130% at 100% 0, rgb(21, 21, 21) 0%, rgb(5, 20, 10) 100%);
    background-attachment: fixed;
    color: white;
}

.statistics-page .content{
    margin: 20px;
    height: auto;
    align-items: center;
    row-gap: 20px;
    column-gap: 20px;
}

.statistics-page .content .row{
    column-gap: inherit;
}


